<div class="text-center">
  <div class="blog">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>Created by {{blogUser.username}} on {{format_date date_created}}</p>
  </div>

  <section class="text-center">
    {{#each comments as |comment|}}
    {{> comment-details}}
    {{/each}}
  </section>

  <form class="form comment-form">
    <div class="form-group">
      <label for="new-comment bg-light">New Comment:</label>
      <input class="form-input" type="text" id="new-comment"/>
      <button class="btn btn-primary" type="submit" id="comment">
      Comment
      {{!-- <a href="/blog/{{id}}"></a> --}}
      </button>
    </div>
  </form>
</div>

<script src="/js/comment.js"></script>